<div class="panel">
  <div class="panel-header">
    <div class="font-semibold font-title">Authentification</div>
    <div class="font-regular font-title2">We need more autorization for this app, please log in</div>
  </div>
  <div class="panel-header">
    <div>
      <button (click)="authenticateAsync()" class="button-primary">Authentication</button>
    </div>
  </div>
</div>


<!-- <div>
  <button (click)="getSessionAsync()" class="button-primary">get Session</button>
</div> 

 <div>
  {{isAuth}} - {{token1}}
</div> -->