<div>
  <div>
    <div class="font-semibold font-title">Configuration</div>
    <div class="font-regular font-title2">Configuration</div>
    <div class="font-regular font-base">Configuration</div>
    <div class="font-semilight font-caption">Configuration</div>
    <div class="font-semibold font-xsmall">Configuration</div>
  </div>
  <div class="textarea-container">
    <div class="textarea-field">Enter setting</div>
  </div>
  <div>
    <input type="button" class="button-primary" value="Primary">
    <input type="button" class="button-secondary" value="Secondary">
    <input type="button" class="button-secondary" value="Secondary">
  </div>
</div>