<div>
  <div class="panel-header">
    <div class="font-semibold font-title">Contoso Intranet</div>

  </div>

  <div class="panel-body">



    <button (click)="authenticate()" class="button-primary" [disabled]="authService.isAuthenticated">Authentification</button>
    <button (click)="authenticateSilently()" class="button-primary" [disabled]="authService.isAuthenticated">Silent authentification</button>
    <button (click)="logout()" class="button-secondary" [disabled]="!authService.isAuthenticated">Logout</button>
    <button (click)="getUser()" class="button-secondary" [disabled]="!authService.isAuthenticated">Get User informations</button>
    <p></p>

    <!--<div class="font-semibold font-title2">Context</div>


    <div class="font-base font-regular">Group Id</div>
    <div class="font-base font-regular">{{groupId}}</div>

    <div class="font-base font-regular">Upn</div>
    <div class="font-base font-regular">{{upn}}</div>

    <p></p>
    <div class="font-semibold font-title2">User Information</div>

    <li *ngFor="let m of members">
        <span>{{m.displayName}}</span>
      </li>-->

    <ul>
      <li><b>Display name:</b> {{user.displayName}}</li>
      <li><b>Job title:</b> {{user.jobTitle}}</li>
      <li><b>Email:</b> {{user.mail}}</li>
    </ul>

  </div>


  <div class="panel-footer">
    <div class="font-base font-regular">footer</div>
  </div>

</div>